@import "tailwindcss";

:root {
  --background: #F9F5F0;
  --foreground: #1E1E1E;
  --accent-primary: #C97A65;
  --accent-secondary: #B28D8B;
  --accent-tertiary: #A66B5B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-display: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
